.App {
  text-align: left;
  font-family: monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.filter.selected {
  font-weight: bold;
}

.question-title.en {
  font-style: italic;
}

.question.question-has-answers:not(.selected):hover .question-title {
  text-decoration: underline;
}

.question {
}

.question.selected {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: #ddd;
  top: 0;
  left: 0;
  overflow: hidden;
}

.input.selected {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  top: 0;
  left: 0;
  overflow: hidden;
}

.close {
  text-decoration: underline;
}
